/* globales*/

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

body {
    background-color: #ccb4c3;
    min-width: 40rem;
    max-width: 50rem;
    padding: 3rem 3rem 0;
    border: .2rem solid #fffae8;
}

/* main */


h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #f9edc2;
    margin: 0 0 1rem;
}

span {
    font-size: 1.8rem;
    font-weight: 400;
    color: #f8f9f4;
    border-bottom: .1rem solid #5d3277;
}
 
ul {
    padding: 0rem 2rem;
    min-height: 5rem;
    max-height: 30rem;
    overflow-y: auto;
    margin: 3rem 0;
}

ul li {
    list-style: none;
    color: #ffffff;
    background-color: #d4caa0;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: .6rem;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 50rem;
}

.container {
    display: flex;
    gap: .5rem;
}

.svgContainer {
    display: flex;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    background-color: #91c27d;
}

/* form */

form label {
    display: block;
    font-size: 1.6rem;
    color: #f8f9f4;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

form input {
    font-size: 1.6rem;
    border: none;
    padding: 1rem;
    margin-right: .5rem;
}

form button {
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #a16db7;
    border: none;
    color: #f8f9f4;
    cursor: pointer;
    box-shadow: -3px 4px 5px 0px rgba(0,0,0,0.21);
}

form button:active {
    background-color: #5d3277;
    font-weight: bold;
    box-shadow: none;
}

/* modal */

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-1.5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(1.5px);
    }
}

.modal {
    height: 15rem;
    width: 20rem;
    padding: 2rem;
    background-color: #6ea023;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    border: .1rem solid #ffffff;
}

.modal button {
    cursor: pointer;

}

.modal p,
.modal button {
    animation: shake .8s ease-in-out;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 1rem;
}

footer p {
    font-size: 1.3rem;
    margin: 0;
}